.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 25%;
    padding: 1%;
    text-align: center;
}

html,
nav {
    width: 73%;
    padding: 1%;
}

header ul {
    width: 50%;
    margin-left: auto;
}

.heroImg {
    height: 600px;
    padding: 2px;
}

.content {
    width: 500px;
    margin: 0 auto;
}

footer {
    background-color: #373738;
}

footer ul {
    padding: 1px;
    display: inline-block;
    vertical-align: top;
}